<!DOCTYPE html>
<html>
<head>
  <title>Rating</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- <!-- CSS file for Star Rating Pluggin -->
<link rel="stylesheet" type="text/css" href="jRating.jquery.css" media="screen" />
<!-- jQuery file for Star Rating Pluggin -->
<script type="text/javascript" src="jRating.jquery.js"></script> -->
</head>
<body>

<%= yield %>

</body>
</html>
